* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu_active {
  border-bottom: 1px solid rgb(153, 48, 48);
}

.animated {
  animation: anime 1.4s infinite alternate-reverse;
  border-radius: 20px;
}

#header {
  display: flex;
  align-items: center;
  height: 84vh;
}

@keyframes anime {
  0% {
    transform: translate(0%, 1%);
  }
  100% {
    transform: translate(0%, -1%);
  }
}

footer p {
  margin: 0;
  padding: 0;
}
